<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="yowko" type="TestConfiguration.Handler.YowkoSettings,TestConfiguration" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <yowko>
    <yowkoSettings>
      <yowkoData channel="c1" userName="c1Admin" userSecret="c1Admin-secret1"/>
      <yowkoData channel="c2" userName="c2Admin" userSecret="c2Admin-secret2"/>
    </yowkoSettings>
  </yowko>
</configuration>