@using System.Reflection
@model TestConfiguration.Handler.YowkoSettingsSection
@{
    ViewBag.Title = "About";
}

<h2>Index</h2>

@*@foreach (var item in Model.)
{*@
    @foreach (var jtem in (Model.YowkoData).GetType().GetProperties(BindingFlags.Public | BindingFlags.Instance))
    {
        <div class="row">
            <div class="col-lg-1">@jtem.Name</div>
            <div class="col-lg-3">@jtem.GetValue(Model.YowkoData)</div>
        </div>
    }
@*}*@

